* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lista__separadas li {
    display: inline-block;
    margin: 0 5px;
}


.logo__propio {
    color: #f01053;
    font-size: 20px;
}

.titulo-principal-conteiner {
    background-image: url("../IMG/HEADERLANDSCAPE.jpg");
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo-principal-content {
    width: 80%;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.titulo-principal-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 16px;
}

.titulo-principal-content h2 {
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: bolder;

}

.titulo-principal-content p {
    font-size: 25px;
    letter-spacing: 3px;
    margin: 30px;
}

.titulo-principal-content p a {
    transition-property: color;
    transition-duration: .7s;
    font-weight: 600;
    color: #ffffff
}

.titulo-principal-content p a:hover {
    color: #3c6e92;
}

.card__conteiner {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px
}

.card {
    font-size: 17px;
    margin: 20px 15px;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: black 0 0 10px 0;
    background-color: white;
    transition-property: transform;
    transition-duration: .9s;

}

.card:hover {
    transform: scale(1.1);
}

.card--xl {
    width: 40%;
}

.card__img__conteiner {
    padding: 0px;
    width: 100%;
    height: 300px;
}

.card__img__conteiner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

}

#japon {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
}

.card__title {
    font-size: 25px;
    padding: 5px 0;
}

.card__desc {
    text-align: left;
    padding: 10px 5px;
}

.card__enlace {
    margin: 20px 50px;
    box-shadow: #18033a 0 0 3px;
}

.card__enlace a {
    display: block;
    text-decoration: underline;
    color: white;
    width: 100%;
    background-color: #000000;
    padding: 12px 20px;
    transition-property: color;
    transition-duration: .5s;
}

.card__enlace a:hover {
    background-color: #f7f7f7;
    color: rgb(74, 74, 247);
}


.conteiner-plus {
    margin-top: 0;
    width: 100%;
    min-height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    object-fit: cover;
    object-fit: center;
    padding: 15px;
}

.right {
    font-size: 18px;
    padding: 25px;
    width: 50%;
    text-align: center;
}

.right h3 {
    margin: 15px 0 0;
    font-size: 40px;

}

.right p {
    padding: 15px;
}

@media only screen and (max-width: 1067px) {

    /* BANNER */
    .titulo-principal-content {
        width: auto;
        letter-spacing: 3px;
    }

    /* CARDSS */
    .card {
        width: 40%;
    }

    .card--momento {
        width: 80%;
    }

    /* Article */
    .left,
    .right {
        width: 100%;
    }

    .left {
        height: 100%;
    }


}

@media only screen and (max-width:610px) {

    /* BANNEER */
    .right p {
        text-align: start;
    }

    .titulo-principal-content {
        width: 100%;
    }

    .titulo-principal-content h1 {
        letter-spacing: 3px;
    }

    /* CARRDDD */
    .card {
        width: 80%;
    }
}

/*PAGINAAA DE GALERIIIIAAAAA*/
.titulo-galeria h1 {
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 14px;
}

.linea {
    margin-top: 0px;
    height: 4px;
    width: 100%;
    background-color: #ff188b;
    display: block;
}

.Galeria-conteiner {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 3;

}

.Box img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-property: filter, transform;
    transition-duration: 0.9s;
}

.Box {
    filter: sepia(50%);
    z-index: 2;
    overflow: hidden;
    position: relative;
}
.Box .overlay{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39) ;
    opacity: 0;
}
.overlay h2{

    color: white;
    font-weight:600;
    margin: 0 10px;
    
}
.Box .overlay:hover{
 opacity: 100%;
}

.Box:hover img {
    filter:contrast(110%) sepia(0%) ;
    transform: scale(1.1);
}

@media only screen and (max-width:1100px) {
    .Galeria-conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: dense;

    }

    .Box {
        grid-auto-flow: dense;
    }

    .i4 {
        grid-column: 2/3;
    }

    .i5 {
        grid-column: 1/3;
    }

    .i7 {
        grid-column: 2/4;
        grid-row: 3/5;
    }

    .i16 {
        grid-column: 1/2;
    }

    .i19 {
        grid-column: 2/4;
    }

    .i20 {
        grid-column: 1/4;
    }
}

@media only screen and (max-width:450px) {
    .Galeria-conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
}




/* PAGINA DE REGISTRO */



.loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../IMG/Fondo\ de\ registe.jpg);
    background-size: cover;
    background-position: center;

}

.contenedorregister {
    width: 450px;
    background-color: transparent;
    color: rgb(255, 244, 194);
    border-radius: 15px;
    border: #e9e6e656 solid 2px;
    backdrop-filter: blur(7px);
    box-shadow: rgb(109, 106, 106) 0 0 10px;
    padding: 35px 50px;
}

.contenedorregister h1 {
    font-size: 40px;
    text-align: center;
}

.contenedorregister .input_box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 10px 0;


}

.input_box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: solid 2px rgb(255, 244, 194);
    border-radius: 45px;
    color: rgb(255, 252, 205);
    padding: 10px;
}

.input_box input:focus {

    border-color: #ee0baa3a;
    box-shadow: #ff70c4 1px 1px 15px;
}

.input_box input::placeholder {
    color: rgb(255, 252, 205);
}

.input_box i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.check-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 0;
}

.registrate input::placeholder {
    color: black;
    font-size: 14px;
    opacity: 85%;
    text-align: center;
    outline-style: solid black;
}



.check-forgot input {
    margin: 0 7px 1px;
    accent-color: #ffc3ed;
}

.check-forgot a {
    color: rgb(255, 244, 194);
    text-decoration: none;
}

.check-forgot a:hover {
    text-decoration: underline;
}

.loggin button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.registrate {
    margin: 20px 0 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.registrate a {
    text-decoration: none;
    color: rgb(255, 244, 194)
}

.registrate a:hover {
    text-decoration: underline;
    font-weight: 900;

}

@media only screen and (max-width:560px) {
    .loginpage {
        margin-top: 0;
        min-height: 100vh;
        width: 100%;
    }

    .contenedorregister {
        width: 350px;

    }

    .check-forgot a {
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: space-between;

        right: 10px;

    }

    .check-forgot input {
        position: absolute;
        left: 15px;

    }

    .input_box i {
        right: 10px;
    }
}


/* PAGINA DE PRESENTACIOOOOOOOOOOOOOOOOOOOOOOONNN */



.presentacion {
    display: flex;
    flex-direction: column;
}

.fondosobremi  {
    margin: 0;
    /* position: relative; */
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #081b29;

}

.presentacioncontent {
    max-width: 600px;
    color: rgb(255, 255, 255);
    padding: 0 10%;

}

.presentacioncontent h1 {
    font-size: 56px;
    font-weight: bolder;
}

.presentacioncontent h3 {
    font-size: 25px;
    color: rgb(0, 247, 255);
}

.presentacioncontent p {
    letter-spacing: 0.5px;
    padding: 0 0 15px;
}

.imgpresentation {
    background: transparent;
    max-width: 350px;
    height: 100%;
}


@media only screen and (max-width:964px) {
    .presentacioncontent h1 {
        text-align: center;

    }

    .presentacioncontent h3 {
        text-align: center;
        margin-bottom: 55px;
    }

    .imgpresentation {

        min-width: 60%;
    }

    .imgpresentation img {
        padding: 35px 0;
    }
}

*::selection {
    background-color: black;
    color: white;
}

/* SUGERENCIAAAAASSSSSSSSS */

#titulo-general-rese単a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contenido-general-rese単a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 30px 0;
}

.contenido-general-rese単a span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.contenido-general-rese単a h1 {
    font-size: 45px;
    letter-spacing: 4px;
    color: white;
    background-color: black;
    padding: 25px 20px;
    margin-top: 3px;
}

.box-resigns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.box-resigns {
    background-color: rgb(255, 255, 249);
    box-shadow: -2px 10px 25px black;
    border-radius: 3px;
    padding: 25px 20px;
    width: 500px;
    margin: 15px;
}

#comment-2 {
    align-items: end;
    align-content: end;
}

#comment-4 {
    align-items: end;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.profile {
    display: flex;
    align-items: center;
}

.username {
    display: flex;
    flex-direction: column;
}

.username strong {
    padding: 0 3px;
    letter-spacing: 3px;
    font-size: 18px;
}

.username span {
    padding: 0 3px;
    letter-spacing: 1px;
}

.stars {
    color: #fcd112;
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.comentarios {
    padding: 3px;
    letter-spacing: 1px;
    text-align: left;
}

@media only screen and (max-width:630px) {
    .box-resigns-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-resigns {
        width: auto;
    }

    .top-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px
    }

}

/* ==========================INFO PLUS=================== */

.aside {
    height: 100vh;
    font-size: 18px;
    background-color: rgba(128, 87, 0, 0.493);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}

.aside__contenido {
    height: 80vh;
    display: flex;
    justify-content: center;

}

.open__menu-boton-indice {
    font-size: 3rem;
    position: absolute;
    top: 10px;
    display: none;
    padding: 10px;
}

.menu__checbox {
    display: none;
}



.aside__indice {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.aside__indice a {
    text-wrap: pretty;
    text-decoration: none;
    color: rgb(37, 10, 24);
    transition: all .3s;

}

.aside__indice a:hover {
    color: #000000;
    text-decoration: underline;
}

/* ====== FORMATO GENERAL DE LA INFO======== */
.conteiner__info {
    color: rgb(0, 0, 0);
    background-color: rgb(248, 249, 255);
    padding: 30px !important;
}

.info__content p,
li {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: .5px;
}

.info__content h2 {
    font-size: 40px;
    letter-spacing: 3px;
    padding: 0 0 10px;
    font-weight: 700;
}

.info__content h3 {
    letter-spacing: 1px;
    padding: 10px 0;
}

.glosario-titulo {
    width: 100%;
    justify-content: center;
}

.glosario-titulo h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
    margin: 10px;
}

.advertencia h4 {
    font-size: 34px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.ultima-advertencia p {
    text-align: center;
}

.info__paises {
    margin: 30px 0;
}

/* ========FORMATO GENERAL DE LA INFO FINNNNNNN======== */

/* ===PRIMERA LETRA==== */
#first-letter::first-letter{
    font-size: 70px;
    font-style:oblique;
    color: #ffc400;
    font-weight: 500;
}

/* ===============CANADA================ */
.primera--imagen {
    width: 250px;
    float: right;
    margin: 25px;
    padding-top: 50px 25px;
}

/* ==========CANADA IMAGEN================== */


/*=========IMAGENES DEL FINAL=======*/
.last__img__conteiner {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 350px);
    gap: 10px;
}

.imagenes__final img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.imagenes__final--2 {
    grid-column: 1/span 2;
    grid-row: 2/2;
}

/*========= FINN DEE IMAGENES DEL FINAL=======*/

@media only screen and (max-width:706px) {
    .primera--imagen {
        display: flex;
        float: none;
        margin: auto;
        padding: 10px;
    }
}

@media only screen and (max-width:580px) {

    /* ===ASIDEE=== */
    .aside__indice {
        display: none;
    }

    .open__menu-boton-indice {
        display: block;
    }

    .menu__checbox:checked~.aside__indice {
        display: flex;
        width: 100%;
        height: 100%;
    }

    /* ===ASIDEE FIN=== */
    /* ====IMAGENES DEL FINAL==== */
    .last__img__conteiner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* ========================= */
    /* ===========RESPONSIVE TEXT CONFIGURATION ================*/
    .info__content h2 {
        font-size: 30px;
        letter-spacing: 3px;
        padding: 0 0 10px;
        font-weight: 700;
    }

    .info__content h3 {
        letter-spacing: 1px;
        padding: 10px 0;
    }

    .info__paises {
        margin: 10px 0;
        padding: 0;
    }

    .info__content p,
    li {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 400px) {
    .glosario-titulo {
        text-align: center;
    }

    .glosario-titulo h1 {
        font-size: 35px;
        font-weight: 800;
        text-wrap: balance;
        letter-spacing: 3px;
    }
}

/* BARRA DE REDES SOCIALEEESSS */



.contactame {
    position: relative;
    z-index: 5;
    width: 100%;
    background-color: black;
    padding: 5px;
    margin-top: 0;
    text-align: center;
    bottom: 0;

}

.contactame p {
    padding: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

.contactame a {
    color: rgb(153, 97, 255);
    font-size: 45px;
    text-decoration: none;
    letter-spacing: 20px;

}
.contactame .twitter:hover{
    color:white;
}
.contactame .facebook:hover{
    color: #1736e7;
}
.contactame .instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color:transparent;
}

.VolverArriba {
    color: beige;
    background-color: rgb(159, 107, 255);
    height: 50px;
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    border-style: double;
    border-radius: 50%;
    z-index: 5;
}