@charset "UTF-8";
@keyframes header-movement {
  from {
    background-color: #131516;
    padding: 13px;
  }
  to {
    background-color: rgba(17, 18, 19, 0.4941176471);
    padding: 0px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1440px) {
  @keyframes header-movement {
    from {
      background-color: #131516;
      padding: 35px;
    }
    to {
      background-color: rgba(17, 18, 19, 0.4941176471);
      padding: 15px 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Light.ttf) format(truetype);
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf) format(truetype);
  font-weight: 900;
}
@font-face {
  font-family: Urbanist;
  src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format(truetype);
  font-weight: 400;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: black;
  color: white;
}

*::selection {
  background-color: black;
  color: white;
}

p {
  font-family: "Urbanist";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(247, 255, 254);
}

.lista__separadas li {
  display: inline-block;
  margin: 0 5px;
}

.logo {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 3px;
}

.logo__propio {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 3px;
  color: #f01053;
  font-size: 20px;
}

.navegation {
  position: sticky;
  padding: 13px;
  top: 0;
  z-index: 10;
  opacity: 100%;
  background-color: #131516;
}

@supports (animation-timeline: view()) and (animation-range: 20% 49%) {
  .navegation {
    animation: header-movement both;
    animation-timeline: scroll();
    background-color: #131516;
    animation-range: 20% 49%;
  }
}
.titulo-principal-conteiner {
  background-image: url("../IMG/HEADERLANDSCAPE.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo-principal-content {
  width: 80%;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}
.titulo-principal-content h1 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 65px;
  margin-bottom: 20px;
  letter-spacing: 16px;
}
.titulo-principal-content h2 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 35px;
  font-weight: 600;
}
.titulo-principal-content p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 3px;
  margin: 30px;
}
.titulo-principal-content p a {
  transition-property: color;
  transition-duration: 0.7s;
  font-weight: 700;
  color: #ffffff;
}
.titulo-principal-content p a:hover {
  color: #081b29;
}

.card__conteiner {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}

.card {
  font-size: 17px;
  margin: 20px 15px;
  width: 26%;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: black 0 0 10px 0;
  background-color: white;
  transition-property: transform;
  transition-duration: 0.9s;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 8% cover 50%;
}
.card .card__title h3 {
  font-family: "Poppins";
  font-size: 25px;
  padding: 5px 0;
  font-weight: 600;
}
.card .card__desc {
  text-align: left;
  padding: 5px 10px;
}
.card .card__enlace {
  margin: 20px 50px;
  box-shadow: #18033a 0 0 3px;
}
.card .card__enlace a {
  display: block;
  text-decoration: underline;
  color: white;
  width: 100%;
  background-color: rgb(8, 8, 8);
  padding: 12px 20px;
  transition-property: color;
  transition-duration: 0.5s;
}
.card .card__enlace a:hover {
  background-color: #f7f7f7;
  color: rgb(74, 74, 247);
}

.card:hover {
  transform: scale(1.1);
}

.card--xl {
  width: 40%;
}

.card__img__conteiner {
  padding: 0px;
  width: 100%;
  height: 300px;
}
.card__img__conteiner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

#japon {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  width: 100%;
  height: 100%;
}

.conteiner-plus {
  margin-top: 0;
  width: 100%;
  min-height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 100%;
  padding: 15px;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 10% contain 60%;
}
.left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: center;
     object-fit: center;
}

.right {
  font-size: 18px;
  padding: 25px;
  width: 50%;
  min-height: 30vh;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 5% cover 50%;
}

.right h3 {
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  margin: 15px 0 0;
  font-size: 40px;
}

.right p {
  font-family: "Poppins";
  padding: 15px;
  text-wrap: pretty;
  text-align: left;
}

@media only screen and (min-width: 1440px) {
  .titulo-principal-content h1 {
    font-size: 80px;
  }
  .titulo-principal-content h2 {
    font-size: 50px;
  }
  .titulo-principal-content p {
    font-size: 28px;
  }
  .card .card__img__conteiner {
    height: 500px;
  }
  .card .card__title h3 {
    font-size: 45px;
    font-weight: 600;
  }
  .card .card__desc {
    font-size: 25px;
    font-weight: 500;
  }
  .card .card__enlace a {
    padding: 20px 25px;
    font-size: 20px;
  }
  .right p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 2000px) {
  .titulo-principal-content h1 {
    font-size: 90px;
  }
  .titulo-principal-content h2 {
    font-size: 60px;
  }
  .titulo-principal-content p {
    font-size: 30px;
  }
  .card .card__title h3 {
    font-size: 45px;
    font-weight: 600;
  }
  .card .card__desc {
    font-size: 35px;
    font-weight: 500;
  }
  .right h3 {
    font-size: 45px;
    font-weight: 600;
  }
  .right p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1067px) {
  /* BANNER */
  .titulo-principal-content {
    width: auto;
    letter-spacing: 3px;
  }
  /* CARDSS */
  .card {
    width: 40%;
  }
  .card--momento {
    width: 80%;
  }
  /* Article */
  .left,
  .right {
    width: 100%;
  }
  .left {
    height: 100%;
  }
}
@media only screen and (max-width: 610px) {
  .navegation {
    animation-range: 15% 19%;
  }
  /* BANNEER */
  .right p {
    text-align: start;
  }
  .titulo-principal-content {
    width: 100%;
  }
  .titulo-principal-content h1 {
    letter-spacing: 3px;
  }
  /* CARRDDD */
  .card {
    width: 80%;
  }
}
/*PAGINAAA DE GALERIIIIAAAAA*/
#top5 {
  position: absolute;
  top: 0;
}

.titulo-galeria h1 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 14px;
}

.linea {
  margin-top: 0px;
  height: 4px;
  width: 100%;
  background-color: #ff188b;
  display: block;
}

.Galeria-conteiner {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.Box img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition-property: filter, transform;
  transition-duration: 0.9s;
}

.Box {
  filter: sepia(50%);
  z-index: 2;
  overflow: hidden;
  position: relative;
}
.Box img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition-property: filter, transform;
  transition-duration: 0.9s;
}

.Box:hover img {
  filter: contrast(110%) sepia(0%);
  transform: scale(1.1);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.39);
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.overlay h2 {
  color: white;
  margin: 0 10px;
}

.overlay:hover {
  opacity: 100%;
}

.overlay::-moz-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.overlay::selection {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.Box:hover img {
  filter: contrast(110%) sepia(0%);
  transform: scale(1.1);
}

@media only screen and (min-width: 1440px) {
  .titulo-galeria h1 {
    font-family: "Poppins";
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 75px;
    margin-bottom: 16px;
  }
  .linea {
    height: 8px;
  }
}
@media only screen and (min-width: 1900px) {
  .titulo-galeria h1 {
    font-family: "Poppins";
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 100px;
  }
}
@media only screen and (max-width: 1100px) {
  .Galeria-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
  }
  .Box {
    grid-auto-flow: dense;
  }
  .i4 {
    grid-column: 2/3;
  }
  .i5 {
    grid-column: 1/3;
  }
  .i7 {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .i16 {
    grid-column: 1/2;
  }
  .i19 {
    grid-column: 2/4;
  }
  .i20 {
    grid-column: 1/4;
  }
}
@media only screen and (max-width: 450px) {
  .Galeria-conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}
/* PAGINA DE REGISTRO */
@supports (animation-timeline: scroll()) and (animation-range: 20% 40%) {
  .navegation__login {
    animation: header-movement both;
    animation-timeline: scroll();
    animation-range: 20% 40%;
  }
}
.navegation__login {
  position: sticky !important;
  width: 100%;
  padding: 13px;
  top: 0;
  z-index: 10;
  background-color: #131516;
}

#top3 {
  position: absolute;
  top: 0;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../IMG/Fondo\ de\ registe.jpg);
  background-size: cover;
  background-position: center;
}

.contenedorregister {
  width: 450px;
  background-color: transparent;
  color: rgb(255, 244, 194);
  border-radius: 15px;
  border: rgba(233, 230, 230, 0.337254902) solid 2px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: rgb(109, 106, 106) 0 0 10px;
  padding: 20px 40px;
}
.contenedorregister h1 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 40px;
  text-align: center;
}

.input_box {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 10px 0;
}
.input_box i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.input_box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: solid 2px rgb(255, 244, 194);
  border-radius: 45px;
  color: rgb(255, 252, 205);
  padding: 10px;
}
.input_box input:focus {
  border-color: rgba(238, 11, 170, 0.2274509804);
  box-shadow: #ff70c4 1px 1px 15px;
}
.input_box input::-moz-placeholder {
  color: rgb(255, 252, 205);
}
.input_box input::placeholder {
  color: rgb(255, 252, 205);
}

.check-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 15px 0;
}
.check-forgot input {
  margin: 0 1px 1px;
  accent-color: #ffc3ed;
}
.check-forgot a {
  color: rgb(255, 244, 194);
  text-decoration: none;
}
.check-forgot a:hover {
  text-decoration: underline;
}

.loggin button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.registrate {
  margin: 20px 0 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.registrate a {
  text-decoration: none;
  color: rgb(255, 244, 194);
}
.registrate a:hover {
  text-decoration: underline;
  font-weight: 900;
}

@media only screen and (min-width: 1440px) {
  .contenedorregister form h1 {
    font-size: 50px;
  }
  .contenedorregister form .input_box {
    height: 60px;
  }
  .contenedorregister form .input_box i {
    font-size: 20px;
  }
  .contenedorregister form input::-moz-placeholder {
    font-size: 20px;
  }
  .contenedorregister form input::placeholder {
    font-size: 20px;
  }
  .contenedorregister .check-forgot input {
    margin: 0 3px 0;
  }
  .contenedorregister .check-forgot label {
    font-size: 20px;
  }
  .contenedorregister .check-forgot a {
    font-size: 18px;
  }
  .contenedorregister .registrate p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1900px) {
  .contenedorregister form h1 {
    font-size: 60px;
  }
  .contenedorregister form .input_box {
    height: 65px;
  }
  .contenedorregister form .input_box i {
    font-size: 25px;
  }
  .contenedorregister form input::-moz-placeholder {
    font-size: 25px;
  }
  .contenedorregister form input::placeholder {
    font-size: 25px;
  }
  .contenedorregister .check-forgot input {
    margin: 0 2px 0;
  }
  .contenedorregister .check-forgot label {
    font-size: 21px;
  }
  .contenedorregister .check-forgot a {
    font-size: 21px;
  }
  .contenedorregister .registrate p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 560px) {
  .loginpage {
    margin-top: 0;
    min-height: 100vh;
    width: 100%;
  }
  .contenedorregister {
    width: 350px;
  }
  .check-forgot a {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-between;
    right: 10px;
  }
  .check-forgot input {
    position: absolute;
    left: 15px;
  }
  .input_box i {
    right: 10px;
  }
}
/* PAGINA DE PRESENTACIOOOOOOOOOOOOOOOOOOOOOOONNN */
#top2 {
  position: absolute;
  top: 0;
}

@supports (animation-timeline: scroll()) and (animation-range: 19% 70%) {
  .navegation__sobre__mi {
    animation: header-movement both;
    animation-timeline: scroll();
    animation-range: 19% 70%;
  }
}
.navegation__sobre__mi {
  position: fixed !important;
  width: 100%;
  padding: 13px;
  top: 0;
  z-index: 10;
  background-color: #131516;
}

.fondosobremi {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  background-color: #081b29;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.presentacioncontent {
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 0 10%;
}
.presentacioncontent h1 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 56px;
}
.presentacioncontent h2 {
  font-family: "Poppins";
  font-size: 25px;
  color: rgb(0, 247, 255);
}
.presentacioncontent p {
  letter-spacing: 0.5px;
  padding: 0 0 15px;
}

.imgpresentation {
  display: flex;
  margin: 75px 0 50px 25px;
  max-width: 350px;
  height: 100%;
}

@media only screen and (min-width: 1440px) {
  .fondosobremi {
    flex-wrap: nowrap;
    flex: 1;
  }
  .imgpresentation {
    display: flex;
    min-width: 650px;
    height: 100%;
  }
  .imgpresentation img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    padding: 60px;
  }
  .presentacion {
    display: flex;
    min-width: 350px;
    flex: 1;
  }
  .presentacioncontent h1 {
    font-size: 80px;
  }
  .presentacioncontent p {
    font-size: 25px;
  }
  .presentacioncontent h2 {
    font-size: 38px;
  }
}
@media only screen and (min-width: 2000px) {
  .imgpresentation {
    min-width: 850px;
    flex: 2;
  }
  .presentacion {
    min-width: 550px;
  }
  .presentacion .presentacioncontent h1 {
    font-size: 100px;
  }
  .presentacion .presentacioncontent p {
    font-size: 45px;
  }
  .presentacion .presentacioncontent h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 990px) {
  .presentacioncontent h1 {
    text-align: center;
  }
  .presentacioncontent h3 {
    text-align: center;
    margin-bottom: 55px;
  }
  .imgpresentation {
    min-width: 60%;
    margin: 0;
  }
  .imgpresentation img {
    padding: 60px 0 15px;
  }
  .navegation__sobre__mi {
    animation-range: 25px 120px;
  }
}
/* SUGERENCIAAAAASSSSSSSSS */
#titulo-general-reseña {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenido-general-reseña {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.contenido-general-reseña span {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.contenido-general-reseña h1 {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 45px;
  color: white;
  background-color: black;
  padding: 25px 45px;
  margin-top: 3px;
}

.box-resigns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.box-resigns {
  background-color: rgb(255, 255, 249);
  box-shadow: -2px 10px 25px black;
  border-radius: 3px;
  padding: 25px 20px;
  width: 500px;
  margin: 15px;
}

#comment-2 {
  align-items: end;
  align-content: end;
}

#comment-4 {
  align-items: end;
}

.profile {
  display: flex;
  align-items: center;
}
.profile .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.profile .username {
  display: flex;
  flex-direction: column;
}
.profile .username strong {
  padding: 0 3px;
  letter-spacing: 3px;
  font-size: 18px;
}
.profile .username span {
  padding: 0 3px;
  letter-spacing: 1px;
}

.stars {
  color: #fcd112;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios {
  padding: 3px;
  letter-spacing: 1px;
  text-align: left;
}

@media only screen and (min-width: 1440px) {
  .contenido-general-reseña {
    margin: 60px;
  }
  .contenido-general-reseña span {
    font-size: 40px;
  }
  .contenido-general-reseña h1 {
    font-size: 70px;
  }
  .main__conteiner {
    max-width: 95%;
    margin: auto;
  }
  .box-resigns-container {
    margin-bottom: 50px;
  }
  .box-resigns {
    min-width: 700px;
  }
  .box-resigns .username strong {
    font-size: 25px;
    padding: 0 7px;
  }
  .box-resigns .username span {
    font-size: 20px;
    letter-spacing: 3px;
    padding: 0 10px;
  }
  .box-resigns .comentarios {
    font-size: 26px;
  }
  .profile-img {
    min-width: 80px;
    min-height: 80px;
  }
}
@media only screen and (min-width: 1900px) {
  .contenido-general-reseña {
    margin: 90px;
  }
  .contenido-general-reseña span {
    font-size: 60px;
  }
  .contenido-general-reseña h1 {
    font-size: 95px;
  }
  .box-resigns {
    min-width: 800px;
  }
  .box-resigns .username strong {
    font-size: 30px;
  }
  .box-resigns .username span {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .box-resigns .comentarios {
    font-size: 30px;
  }
  .profile-img {
    min-width: 100px;
    min-height: 100px;
  }
}
@media only screen and (max-width: 630px) {
  .box-resigns-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box-resigns {
    width: auto;
  }
  .top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
}
/* ==========================INFO PLUS=================== */
.aside {
  height: 100vh;
  font-size: 18px;
  background-color: rgba(128, 87, 0, 0.493);
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
}

.aside__contenido {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.open__menu-boton-indice {
  font-size: 3rem;
  position: absolute;
  top: 40px;
  display: none;
  padding: 35px;
}

.menu__checbox {
  display: none;
}

.aside__indice {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 35px 15px 0;
}
.aside__indice a {
  text-wrap: pretty;
  text-decoration: none;
  color: rgb(37, 10, 24);
  transition: all 0.3s;
}
.aside__indice a:hover {
  color: #000000;
  text-decoration: underline;
}

/* ====== FORMATO GENERAL DE LA INFO======== */
#top6 {
  position: absolute;
  top: 0;
}

@supports (animation-timeline: scroll()) and (animation-range: 55px 200px) {
  .navegation__shorter__animation {
    animation: header-movement both;
    animation-timeline: scroll();
    animation-range: 55px 200px;
  }
}
.navegation__shorter__animation {
  position: sticky !important;
  padding: 13px;
  top: 0;
  z-index: 10;
  background-color: #131516;
}

.conteiner__info {
  color: rgb(0, 0, 0);
  background-color: rgb(248, 249, 255);
  padding: 30px !important;
}

.info__content p,
li {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.info__content h2 {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 40px;
  padding: 0 0 10px;
}

.info__content h3 {
  letter-spacing: 1px;
  padding: 10px 0;
}

.glosario-titulo {
  width: 100%;
  justify-content: center;
}

.glosario-titulo h1 {
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: underline;
  margin: 10px;
}

.advertencia h4 {
  font-size: 34px;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

.ultima-advertencia p {
  text-align: center;
}

.info__paises {
  margin: 30px 0;
}

/* ========FORMATO GENERAL DE LA INFO FINNNNNNN======== */
/* ===PRIMERA LETRA==== */
#first-letter::first-letter {
  font-size: 70px;
  font-style: oblique;
  color: rgba(236, 185, 15, 0.8470588235);
  font-weight: 400;
}

/* ===============CANADA================ */
.primera--imagen {
  width: 250px;
  float: right;
  margin: 25px;
  padding-top: 50px 25px;
}

/* ==========CANADA IMAGEN================== */
/*=========IMAGENES DEL FINAL=======*/
.last__img__conteiner {
  display: grid;
  max-width: 800px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 350px);
  gap: 10px;
}

.imagenes__final img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.imagenes__final--2 {
  grid-column: 1/span 2;
  grid-row: 2/2;
}

/*========= FINN DEE IMAGENES DEL FINAL=======*/
@media only screen and (max-width: 706px) {
  .primera--imagen {
    display: flex;
    float: none;
    margin: auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 575px) {
  /* ===ASIDEE=== */
  .aside__indice {
    display: none;
  }
  .open__menu-boton-indice {
    display: block;
  }
  .menu__checbox:checked ~ .aside__indice {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  /* ===ASIDEE FIN=== */
  /* ====IMAGENES DEL FINAL==== */
  .last__img__conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* ========================= */
  /* ===========RESPONSIVE TEXT CONFIGURATION ================*/
  .info__content h2 {
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 30px;
    padding: 0 0 10px;
  }
  .info__content h3 {
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .info__paises {
    margin: 10px 0;
    padding: 0;
  }
  .info__content p,
  li {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 400px) {
  .glosario-titulo {
    text-align: center;
  }
  .glosario-titulo h1 {
    font-size: 35px;
    text-wrap: balance;
    letter-spacing: 3px;
  }
}
/* BARRA DE REDES SOCIALEEESSS */
.contactame {
  position: relative;
  z-index: 5;
  width: 100%;
  background-color: #131516;
  padding: 5px;
  margin-top: 0;
  text-align: center;
  bottom: 0;
}
.contactame p {
  padding: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
}
.contactame a {
  color: rgb(153, 97, 255);
  font-size: 45px;
  text-decoration: none;
  letter-spacing: 20px;
}
.contactame .twitter:hover {
  color: white;
}
.contactame .facebook:hover {
  color: #1736e7;
}
.contactame .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
  color: transparent;
}

.VolverArriba {
  color: beige;
  background-color: rgb(159, 107, 255);
  height: 50px;
  width: 50px;
  position: fixed;
  right: 50px;
  bottom: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  border-style: double;
  border-radius: 50%;
  z-index: 5;
}

@media only screen and (min-width: 1440px) {
  .lista__separadas a {
    font-size: 22px !important;
  }
  .logo,
  .logo__propio {
    font-size: 25px !important;
  }
  .contactame p {
    font-size: 30px;
  }
  .contactame a {
    font-size: 65px;
  }
}
@media only screen and (min-width: 1900px) {
  .lista__separadas a {
    font-size: 27px !important;
  }
  .logo,
  .logo__propio {
    font-size: 29px !important;
  }
  .contactame p {
    font-size: 30px;
  }
  .contactame a {
    font-size: 65px;
  }
}/*# sourceMappingURL=Travel with us style.css.map */